
/* header */
body{
    background-color: #92a8d1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 35px;
}
h1 {
    display: flex;
    color: white;
    margin-right: auto;
}
h1:hover{
    cursor: crosshair;
    background-color: aqua;
    color: brown;
}


header ul li {
    display: inline-flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    font-weight: bold;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 50px;
    transition: all .5s ease ;
    display: inline;
    
}

nav ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;

}

.Lee {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 700px;
    width: 100%;
    background: url("https://scontent.faus1-1.fna.fbcdn.net/v/t39.30808-6/275298889_5355617771134652_5323479294832478074_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=ig8iWbXiTwYAX-tuLPq&_nc_ht=scontent.faus1-1.fna&oh=00_AT90nM6GZWAYmV3fomwVlpGrYqY572Yhc6f1Ic91wnd9wA&oe=62304C5E") no-repeat center center/cover;
    z-index: -1;
    opacity: .8;
}

figure h3 {
    position: absolute;
    bottom: 25px;
    right: 0;
    font-size: 25px;
    opacity: .8;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 50px;
}

main h2 {
        display: block;
        width: auto;
        height: auto;
        border-right: 5px solid black;
        padding-right: 20px;
}
section {
    font-size: 45px;
    display: inline-flex;
    color: #DFCFBE;
    margin-top: 700px;
}

.About h2 {
    margin-left: 117px;
    margin-top: auto;
    margin-bottom: auto;
}

p {
    font-size: 20px;
    flex-wrap: wrap;
}

.About p {
    margin-left: 10px;
    
    
}

.Work {
    margin-top: 50px;
    font-size: 45px;
    display: flex;
    flex-wrap: wrap;
    color: #DFCFBE;

}

.Work h2 {
    margin-left: 129px;
    padding-right: 25px;
}

.Work p {
    padding-right: 5px;
}

.img1 {
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 1020px;
    border: 5px solid coral;
    margin-left: 25px;
    position: relative;

}

.cap {
    position:absolute;
}

.img1:hover{
    opacity: 0.5;
    cursor: pointer;
}

.img2{
    margin-top: 25px;
    opacity: 1;
    flex-wrap: wrap;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 495px;
    height: 250px;
    border: 5px solid coral;
    justify-content: space-around;
    margin-left: 25px;
    position: relative;
   
}
.img2:hover{
    opacity: 0.5;
    cursor: pointer;
}


.Contact {
    margin-top: 100px;
    display: inline-flex;
    font-size: 45px;
    color: #DFCFBE;

}


section nav ul li {
    display: inline-flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    font-weight: bold;
    
}


